$primary: #375d61;
$secondary: #fff;
$info: #64a7ae;

#menu-container {
  position: absolute;
}

#menu {
  position: relative;
  cursor: pointer;
  top: 15%;
}

#hero-image-container {
  height: 350px;
  background-image: url("../assets/images/getty-images-Qh33zzBt_bA-unsplash-small.webp");
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

#hero-text-1,
#hero-text-2 {
  display: none;
}

.optionsContainer {
  max-width: fit-content;
}

.optionsIcons {
  max-width: 100px;
}

.iconsContainer {
  max-width: 400px;
}

.introContainer {
  max-width: 90%;
}

.searchByDateContainer {
  max-width: 80%;
}

.introText {
  max-width: 90%;
}

.productCard {
  box-shadow: 5px 5px 8px 5px rgba(190, 190, 190, 0.9);
}

.productCardImg {
  height: 320px;
  object-fit: cover;
  width: 100%;
}

.destinationImage {
  height: 450px;
  background-image: url("../assets/images/rodion-kutsaiev-3aMwpU5X_DM-unsplash.webp");
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}

.venuesContainer {
  width: 90%;
}

.venueContainer {
  max-width: 90%;
}

.venues-img {
  height: 450px;
  background-image: url("../assets/images/getty-images-IE4fW4v5_xE-unsplash.webp");
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}

.facilitiesIcon {
  max-width: 50px;
}

.facilities {
  width: 70%;
  margin: auto;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:focus {
  background: #375d61;
}

.react-calendar__tile--active:enabled:hover {
  background: #64a7ae;
}

@media (min-width: 450px) {
  #menu {
    top: 20%;
  }

  #hero-image-container {
    height: 550px;
  }

  #hero-text-1,
  #hero-text-2 {
    display: inline;
    position: relative;
    font-size: 1.5rem;
  }

  #hero-text-1 {
    left: 30%;
    top: 40%;
  }

  #hero-text-2 {
    left: 20%;
    top: 48%;
  }

  .searchByDateContainer {
    max-width: 55%;
  }

  .facilitiesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .facilities {
    width: 50%;
    margin: auto;
  }
}

@media (min-width: 600px) {
  #menu {
    top: 30%;
  }

  #hero-text-1,
  #hero-text-2 {
    font-size: 2rem;
  }

  #hero-text-1 {
    left: 40%;
  }

  #hero-text-2 {
    left: 25%;
  }

  .searchByDateContainer {
    max-width: 40%;
  }

  .introText {
    max-width: 80%;
  }
}

@media (min-width: 1000px) {
  #hero-image-container {
    height: 700px;
    background-image: url("../assets/images/getty-images-Qh33zzBt_bA-unsplash-without-text.webp");
  }

  #hero-text-1,
  #hero-text-2 {
    font-size: 2.3rem;
  }

  #hero-text-1 {
    left: 50%;
  }

  #hero-text-2 {
    left: 43%;
  }

  .introText {
    max-width: 70%;
  }

  .venuesH1 {
    position: relative;
    top: 45%;
  }

  .venuesContainer {
    width: 70%;
  }

  .facilities {
    display: flex;
    justify-content: space-around;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap";
